* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  body {
    background-color: tomato;
    font-family: "Open Sans",
    sans-serif; 
    font-size: 16px;
    color: #510000;
    text-align: center;
    line-height: 1.5;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .error-message {
    color: blue;
  }
  
  .hidden {
    display: none;
  }
  
  .images {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  .results-list {
    height: auto;
    width: 50px;
    padding: left
  }
  
  .info {
    display: block;
  }
  
  .initial {
    background-color: orangered;
    margin-top: 20px;
    padding: 10px;
  }
  
  #js-form {
    display: block;
    margin-top: 20px;
  }
  
  .go {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: 10px;
    border: none;
    background-color: darkcyan;
    color: blue; 
    border-style: solid;
  }
  
  .go:hover {
    color: sandybrown;
    border-style: solid;
    border-color:  sandybrown;
    background-color: gold;
    transition: background .2s ease-in, color .2s ease-in, border-color .2s ease-in;
    cursor: pointer;
  }
  
  label {
    display: block;
  }
  
  input {
    display: inline-block;
    text-align: center;
  }
  
  
  h3 {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 30px;
  }
  
  li {
    border-top-style: solid;
    margin-top: 10px;
    width: 280px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 20px 0px 20px;
  }
  
  #js-search-term {
    width: 150px;
  }
  
  #js-search-radius {
    width: 50px;
  }
  
  #js-max-limit {
    width: 50px;
  }
  
  .yelpLink:link, .yelpLink:visited {
    text-decoration: none;
    color: blue;
    background-color: darkcyan;
    border-style: solid;
  }
  
  .yelpLink:hover {
    color: sandybrown;
    border-style: solid;
    border-color:  sandybrown;
    background-color: gold;
    transition: background .2s ease-in, color .2s ease-in, border-color .2s ease-in;
  }
  
  footer {
    position: fixed;
    bottom:0;
    background-color: gainsboro;
    width: 375px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
  
  @media screen and (min-width: 500px){
    body {
      width: auto;
      font-size: 20px;
    }
    h1 {
      text-align: initial;
      margin-left: 50px;
    }
  
    p {
      text-align: initial;
      margin-left: 75px;
    }
  
    li {
      display: inline-block;
      border-style: none;
    }
  
    .js-form {
      text-align: initial;
      margin-left: 80px;
    }
    
    .go {
      position: absolute;
      top: 175px;
      left: 500px;
      width: 100px;
      height: 100px;
      font-size: 20px;
    }
  
    footer {
      width: 100%;
      left: 0;
    }
  }